.Contact-page{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
        
  background-color:rgb(3, 98, 135);
}

.Contact-page h1{
    color: white;
    font-size: 30px;
}